/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */
h2 {
  margin-bottom: 1rem;
}

fieldset {
  padding: 1rem;
  border: 1px solid var(--border-color);
}

fieldset:not(:last-child) {
  margin-bottom: 1rem;
}

label,
input {
  display: block;
}
label {
  margin-bottom: .5rem;
  color: var(--gray-color);
}
input {
  padding: 0 .5rem;
  line-height: 2rem;
}

input:not(:last-child) {
  margin-bottom: 1rem;
}
input[type="submit"] {
  background-color: var(--background-color);
  color: black;
  border: 1px solid var(--gray-color);
  padding: 0.4rem;
  transition: .15s background-color;
  appearance: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--border-color);
}
/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);

}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.header img {
  width: 3.5rem;
}

.header h1 {
  font-size: 2.5rem;
}

.header nav a {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

/* ### TODO ### Styles for Main Component */

.main {
  display: flex;  
  flex-direction: row;
  gap: 30px;
  padding: 3rem;
  max-width: 1440px;
  margin: 0 auto;
}

.main h2 {
  margin-bottom: 1rem;
}


/* ### TODO ### Styles for Tagging component */

.main__tagging input {
  width: min(12rem, 100%);
}


/* ### TODO ### Styles for Discovery component */
.main__discovery {

}
.discovery__search input {
  width: min(12rem, 100%);
}

.discovery__wrapper {
  display: flex;
  margin-top: 2rem;
}

.discovery__results {
  list-style-type: none;
}
.discovery__map{
  margin-left: 5rem;
}
.discovery__map img {
  width: 100%;
  height: 100%;
}
.discovery__map span {
  color: var(--gray-color);
}

.discovery__results li {
  width: 210px;
  padding: 1rem .75rem;
  background-color: var(--background-color);
  color: var(--link-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.discovery__results li:not(:first-child) {
  margin-top: 1rem;
}
/* ### TODO ### Styles for Footer Component */

.footer {
  padding: 3rem;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
}


/* ### TODO ### Media Queries */
@media screen and (max-width: 850px) {
  .row {
    flex-direction: column;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
    margin-right: 0;
  }
 
  .col-8 {
    margin: 0 auto; 
    display: block; 
    margin-top: 2rem;
    
  }
  
  
}